.content {
  width: 100%;
  max-width: 1200px;
  background-color: #fff;
  margin-top: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;

  h2 {
    text-align: center;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
  }

  h3 {
    font-size: 1.1rem;
    text-align: center;
  }
}

.content-imc {
  margin: 32px 0;

  blockquote {
    font-weight: bold;
    display: block; /* Altere para block */
    margin: 2rem auto;
    font-style: italic;
    margin: 2rem auto;
    border-left: 2px solid hsl(123, 78%, 60%);
    padding-left: 0.5rem;
  }

  p {
    text-align: justify;
    margin-bottom: 32px;
  }

  em {
    font-size: 14px;
    border-left: 2px solid hsl(0, 78%, 60%);
    padding-left: 0.875rem;
    margin-top: 1.5rem;
    display: block;
  }
}

.imc-list {
  margin-left: 2rem;
  list-style-type: disc;
  text-transform: capitalize;
  font-style: italic;
}

@media screen and (min-width: 800px) {
  .content-imc {
    blockquote {
      max-width: 60%;
    }
  }
}
