nav {
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 100;
  position: fixed;
  width: 100%;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  height: 40px;
}

.nav-toggle {
  font-size: 1.5rem;
  color: hsl(123, 78%, 60%);
  background: transparent;
  border-color: transparent;
  transform: all 0.3s linear;
  cursor: pointer;
}

.nav-toggle:hover {
  color: hsl(123, 86%, 17%);
  transform: rotate(90deg);
}

.links {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.links a {
  color: hsl(209, 34%, 30%);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem 1rem;
  transform: all 0.3s linear;
}

.links a:hover {
  background: hsl(123, 86%, 81%);
  color: hsl(123, 78%, 60%);
  padding-left: 1.5rem;
}

.show-links {
  height: 10rem;
}

@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .nav-header {
    padding: 0;
  }

  .nav-toggle {
    display: none;
  }

  .links {
    height: auto;
    display: flex;
  }

  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }

  .links a:hover {
    padding: 0;
    background: transparent;
  }
}
